

.conteiner{

    
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
}

h2{
    display: inline-block;
    text-align: center;

}

span{
    text-align: center;
    margin: 30%;
}

h1{

text-align: center;


}


input{
    border-radius: 100%;
    
    
}

